/* global.css */

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

:root {
  --primary: #f97316;
  --bg-light: #ffffff;
  --text-light: #000000;
  --bg-dark: #0d1117;
  --text-dark: #ffffff;
  font-family: 'Pixelify Sans', sans-serif;
}

body[data-theme='light']{
  font-family: 'Pixelify Sans', sans-serif;
  background-color: var(--bg-light);
  color: var(--text-light);
  margin: 0;
  padding: 0;
}
body[data-theme='dark'] {
    font-family: 'Pixelify Sans', sans-serif;
    background-color: var(--bg-dark);
    color: var(--text-dark);
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: var(--primary);
  }

  /* project card styles */
  .animate-text {
    animation: slideIn 2s ease-in-out;
  }
  .project-card {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s ease forwards;
  }
  
  .project-card:nth-child(2) { animation-delay: 0.2s; }
  .project-card:nth-child(3) { animation-delay: 0.4s; }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* home page styles */
  @keyframes slideIn {
    from {
      transform: translateY(-40px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }.scroll-animate {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.6s ease-out;
    will-change: transform, opacity;
  }
  
  .scroll-animate.visible {
    opacity: 1;
    transform: translateY(0);
  }
  