:root {
  --primary: #f97316;
  --bg-light: #ffffff;
  --text-light: #000000;
  --bg-dark: #0d1117;
  --text-dark: #ffffff;
  font-family: 'Pixelify Sans', sans-serif;
}

body[data-theme='light'] {
  background-color: var(--bg-light);
  color: var(--text-light);
}

body[data-theme='dark'] {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

a {
  text-decoration: none;
  color: var(--primary);
}

.animate-text {
  animation: slideIn 2s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
